@import '../../../../node_modules/compass-mixins/lib/compass/css3';

@media (max-width:767px) {
    .animal-tag-container {
        margin-left: 0px;

        .animal-tag {
            height: 14px;
            min-width: 30px;
            position: relative;
            padding: 3px 5px;
            font: 600 12px/12px Antic,Helvetica,sans-serif;

            &::before {
                width: 8px;
                height: 8px;
                top: -14px;
                right: 9px;
                border-radius: 9px;
            }

            &::after {
                width: 8px;
                height: 8px;
                top: -9px;
                right: 16px;
                border-radius: 5px;
            }

            &-green {
                @include background(#1abc9c);
                @include box-shadow(0 1px 0 0 #16a085, 1px 1px 0 0 #16a085 );

                &::before {
                    border: 6px solid #1abc9c;
                    /*@include background(#1abc9c);*/
                    @include box-shadow(0 1px 0 0 #16a085 );
                }

                &::after {
                    /*@include background(#fcfcfc);*/
                    @include box-shadow(1px 1px 0 0 #16a085 inset);
                }
            }

            &-blue {
                @include background(#0000ff);
                @include box-shadow(0 1px 0 0 #1675fa, 1px 1px 0 0 #1675fa );

                &::before {
                    border: 6px solid #0000ff;
                    /*@include background(#0000ff);*/
                    @include box-shadow(0 1px 0 0 #1675fa );
                }

                &::after {
                    /*@include background(#fcfcfc);*/
                    @include box-shadow(1px 1px 0 0 #1675fa inset);
                }
            }

            &-yellow {
                @include background(#ffff00);
                @include box-shadow(0 1px 0 0 #ffe065, 1px 1px 0 0 #ffe065 );
                color: #404040;

                &::before {
                    border: 6px solid rgba(255,255,0,1);
                    /*@include background(rgba(255,255,0,1));*/
                    @include box-shadow(0 1px 0 0 #ffe065 );
                }

                &::after {
                    /*@include background(#fcfcfc);*/
                    @include box-shadow(1px 1px 0 0 #ffe065 inset);
                }
            }

            &-orange {
                @include background(#FF9800);
                @include box-shadow(0 1px 0 0 #f7c070, 1px 1px 0 0 #f7c070 );
                color: #404040;

                &::before {
                    border: 6px solid rgba(255,152,0,1);
                    /*@include background(rgba(255,152,0,1));*/
                    @include box-shadow(0 1px 0 0 #f7c070 );
                }

                &::after {
                    /*@include background(#fcfcfc);*/
                    @include box-shadow(1px 1px 0 0 #f7c070 inset);
                }
            }
        }
    }
}
