.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



button {
    cursor:pointer;
}

.display-4 {
    font-size:1.5rem;
}

.display-4 .small {
    font-size:0.75rem;
}

.red {
    color:red;
}

.blue {
    color:blue;
}

.green {
    color:green;
}


#birthdate {
    font-size:0.9rem;
}

.parent-container .table-info,
.parent-container .table-breeds {
    font-size:0.75rem;
}


.service-wrapper .fields {
    position:relative;
}

.service-wrapper .fields .close.service {
    top:0;
    right:10px;
    position:absolute;
}

.ui-tooltip {
    border-radius: 0px;
    margin-bottom: 6px;
    background-color: #fefefe;
    font-size: x-small;
    box-shadow: none;
}


.header {
    text-align: center;
    color: green;
    padding-bottom: 35px;
}
 
table {
    width: 80%;
    border-collapse: collapse;
}
 
td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size: 22px;
    text-align: center;
}
 
table th {
    background-color: green;
    color: white;
}