@using Microsoft.AspNetCore.Identity
@using eGoatDDD.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hi @UserManager.GetUserAsync(User).Result?.FirstName!<br />
                <span class="small d-none text-light">@User.Identity.Name!</span>
            </a>
        </li>

        @if ((await AuthorizationService.AuthorizeAsync(User, "Administrators")).Succeeded)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" asp-controller="User" asp-action="Index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Users
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-controller="User" asp-action="Index">Users</a>
                    <a class="dropdown-item" asp-controller="Role" asp-action="Index">Roles</a>
                </div>
            </li>
             <li class="nav-item">
                <a class="nav-link" asp-controller="File" asp-action="Clean">
                    Clean Files
                </a>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Goat", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>