@model eGoatDDD.Application.Goats.Models.GoatsListViewModel


@{
    ViewData["Title"] = "View";
}

@if (Model != null)
{
    @foreach (var item in Model.Goats)
    {
        <div class="row">
            <div class="col col-sm-3 col-xs-12">
                @item.Code
            </div>
            <div class="col col-sm-3 col-xs-12">
                @item.ColorId
            </div>
            <div class="col col-sm-3 col-xs-12">
                @item.BreedId
            </div>
          
        </div>
    }
}