
@{
    ViewData["Title"] = "View";
}

@if (User.HasClaim(System.Security.Claims.ClaimTypes.Role, "AppUser"))
{
    <h2>Create</h2>
    <a asp-area="" asp-controller="Product" asp-action="Create">Create Product</a>
}

<h2>Published Products with Category</h2>

<h3>Cash</h3>
<h3>-- Product Listing Here --</h3>

<h3>Jewelry</h3>
<h3>-- Product Listing Here --</h3>

<h3>Cash</h3>
<h3>-- Product Listing Here --</h3>
