@{ 
    ViewData["Title"] = "Lenders Landing Page";
}

<h2>@ViewData["Title"]</h2>

<h2>New</h2>

<div id="loanDetails" class="clearfix">

    @await Component.InvokeAsync("LenderGetAllLoanDetails", ViewData["loanDetailsNew"])
    

</div>

<h2>Broadcast</h2>

<div id="loanDetails" class="clearfix">

    @await Component.InvokeAsync("LenderGetAllLoanDetails", ViewData["loanDetailsBroadcast"])


</div>


<h2>Ongoing (associated with Lessee)</h2>

<h3>Undecided (Lessees are bidding to get the approval)</h3>

<h3>Unpublished Created</h3>

